{{- $books := partial "books-data.html" . -}}

<!DOCTYPE html>
<html lang="nl">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{ $style := resources.Get "style.css" | fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

	{{ $script := resources.Get "script.js" | fingerprint }}
	<script src="{{ $script.RelPermalink }}"></script>

	<title>{{ .Site.Title }}</title>
</head>


<body>

	<header class="page-header">
  <div class="search-row">
    <div class="search-box">
        <input type="text" placeholder="Begin met zoeken..." class="search-input" />
    </div>

</header>

	<main>



		<div id="books-grid"></div>
	</main>

	<script>
		const books = {{ $books | jsonify | safeJS }};
		initializeBooksGrid(books, "books-grid");
	</script>
</body>

</html>